@import "../../global.scss";

.footer-shape-container {
  position: absolute;
  z-index: -1;
  width: 100vw;
}

.footer-title {
  padding-left: 1rem;
  margin-left: 10vw;
  margin: 0px;
  //font-size: 3.5rem;
  font-weight: 400;
}

li {
  list-style: none;
  //font-family: "Lato", sans-serif;
  margin-bottom: 0.6rem;
}

ul {
  margin: 0px;
}
.footer-left-right-container {
  height: 100%;
}
.footer-left-right-container::after {
  height: 500px;
  background-color: #f2f2f2;
}

.experience-container {
  margin-left: 10%;
  margin-top: 50px;
  border-radius: 30px;
  background: #f2f2f2;
  box-shadow: 18px 18px 20px #dcdcdc, -18px -18px 20px #ffffff;
  padding: 1rem;
}
hr {
  width: 70%;
}

.right-container {
  display: flex;
  align-items: flex-end;
}

.left-container {
  height: 115%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 4rem;
}
.footer {
  display: flex;
  flex-direction: column;
  height: 47vw;
}
.years {
  font-style: italic;
}
.school {
  font-weight: 700;
  margin: 0px 0.5rem;
}

.card {
  height: 70%;
  width: 60%;
  border-radius: 30px;
  background: #f2f2f2;
  box-shadow: 18px 18px 20px #dcdcdc, -18px -18px 20px #ffffff;
  margin: 0px auto;
}
